:root {
  --blue: #3657cb;
  --yellow: #f2f60f;
  --input: #1e2538;
  --card-bg: #191e2e;
  --all-bg: #1e2538;
  --all-bg-active: #375cc2;
  --gray-text: rgba(255, 255, 255, 0.6);
  --gray-text_second: rgba(255, 255, 255, 0.6);
  --text: #fff;
  --red: #da3434;
  --error-bg: #151a48;
  --border: #2b354e;
  --nonhovertext: #323a55;
}
