:root {
  --blue: #3657cb;
  --blue-shadow: rgba(72, 113, 255, 0.8);
  --blue-shadow-white: rgba(55, 94, 232, 0.4);
  --blue-bg: rgba(54, 87, 203, 0.3);
  --blue-footer: rgba(29, 58, 160, 0.9);
  --yellow: #f2f60f;
  --yellow-border: #fff065;
  --red-border: #e04141;
  --red-bg-filter: #642c36;
  --red-bg: rgba(224, 65, 65, 0.38);
  --red-alert: rgba(255, 158, 158, 1);
  --yellow-bg: rgba(255, 240, 101, 0.38);
  --transparent: transparent;
  --input: #1e2538;
  --dark-text: #151a26;
  --buttons-bg: #1b2133;
  --card-bg: #191e2e;
  --green: #57d043;
  --green-like: #57d043;
  --green-like-bg: rgba(87, 208, 67, 0.38);
  --green-bg: #2e6125;
  --favorite-red: #d43030;
  --buttons-bg-hover: #d4303033;
  --all-bg: #1e2538;
  --all-bg-active: #375cc2;
  --gray-date: rgba(203, 203, 203, 1);
  --gray-text: rgba(255, 255, 255, 0.6);
  --gray-text_second: rgba(255, 255, 255, 0.7);
  --gray-text_third: rgba(255, 255, 255, 0.82);
  --new__gray: #54689e;
  --border--gray: #3b486b;
  --border-line: #495473;
  --text: #fff;
  --white: #fff;
  --red: #da3434;
  --error-bg: #151a48;
  --border: #2b354e;
  --nonhovertext: #323a55;
  --one-border: #f00;
  --one-bg: #4d2222;
  --two-border: #f13030;
  --two-bg: #5f2727;
  --three-border: #da3434;
  --three-bg: #6a2e2e;
  --four-border: #cb3f36;
  --four-bg: #72342f;
  --five-border: #cb6c36;
  --five-bg: #7d4525;
  --six-border: #89cb36;
  --six-bg: #405a2b;
  --seven-border: #78cb36;
  --seven-bg: #485b38;
  --eight-border: #4bcb36;
  --eight-bg: #19580f;
  --nine-border: #34ea16;
  --nine-bg: #1a640e;
  --ten-border: #28ff04;
  --ten-bg: #1f5217;
}
