.avatar__wrapper {
  margin: 0 auto;
}

// avatar start

.avatar__block {
  margin-left: 178px;
  display: flex;
  gap: 50px;
  text-align: left;
  align-items: c/enter;
  // margin: 0 auto;

  &__image {
    border-radius: 10px;
  }

  &__flex {
    &__header {
      display: flex;
      flex-direction: column;
      // gap: 30px;

      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 15px;

      a {
        text-decoration: none;
        color: var(--text);
      }

      h1 {
        margin-top: 10px;
      }
      p {
        margin: 0;
      }
    }

    &__information {
      margin-top: 30px;
      display: flex;
      gap: 30px;
      margin-bottom: 30px;

      ul {
        padding: 0;
        margin: 0;
      }

      &__names {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px;
        width: 150px;
        list-style: none;

        &__item {
          color: var(--gray-text_third);
          font-size: 18px;
          font-family: 'Qanelas SemiBold';
        }
      }

      &__values {
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 15px;

        &__item {
          display: flex;
          font-family: 'Qanelas Light';
          font-size: 18px;
          color: var(--yellow);
          // text-decoration-line: underline;

          &__link {
            color: var(--gray-text_third);
            transition: 0.2s all;

            &:hover,
            &:active,
            &:focus {
              transition: 0.2s all;
              transform: scale(1.1);
            }
          }
        }

        &__item:last-child {
          margin-top: 3px;
        }
      }
    }
  }
}
// avatar end

// awards start
// awards end

// best films start

.best__films__flex {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 70px;

  &__block {
    justify-content: space-between;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
}

// best films end

// films start

.films__block {
  margin-top: 80px;
  text-align: left;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 65px;
    font-family: 'Qanelas ExtraBold';
  }
}

.films__block__flex {
  border-bottom: 1px solid var(--border--gray);
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  padding-bottom: 25px;
  padding-top: 25px;

  &:last-child {
    border: none;
    padding-bottom: 0;
  }

  &__first {
    display: flex;
    gap: 50px;
    align-items: center;

    p {
      margin: 0;
    }
    h2 {
      margin: 0;
      padding: 0px;
    }
    &__image {
      border-radius: 10px;
    }

    &__description {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 5px;

      &__header {
        font-size: 25px;
        font-family: 'Qanelas Bold';
        margin-bottom: 5px;

        &_english {
          color: var(--new__gray);
          font-size: 17px;
          font-family: 'Qanelas Light';
        }
      }

      &__genres {
        font-size: 15px;
        font-family: 'Qanelas Thin';
        margin-top: 5px;
        margin-bottom: 10px;
        color: var(--yellow);
      }

      &__author {
        font-size: 15px;
        color: var(--new__gray);
        font-family: 'Qanelas Thin';
      }
    }
  }

  &__second {
    display: flex;
    gap: 75px;
    align-items: center;

    &__rate {
      display: flex;
      gap: 15px;

      &__flex {
        margin-top: 10px;
        display: flex;
        gap: 5px;
        flex-direction: column;
        align-items: center;
        p {
          margin: 0;
        }
      }

      &__item {
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 18px;
        font-family: 'Qanelas Bold';
      }
    }
  }
}

// films end

.circle {
  position: relative;
  width: 54px;
  height: 54px;
}

.circle__item {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  padding-top: auto;

  z-index: -1;

  &_inner {
    font-family: 'Qanelas Bold';
    font-size: 13px;
    font-style: normal;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50%;
    width: 40px;
    background-color: #fff;
    height: 40px;
  }
}

.p-1 {
  background: var(--one-border);
}

.p-2 {
  background: var(--two-border);
}

.p-3 {
  background: var(--three-border);
}

.p-4 {
  background: var(--four-border);
}

.p-5 {
  background: var(--five-border);
}

.p-6 {
  background: var(--six-border);
}

.p-7 {
  background: var(--six-border);
}

.p-8 {
  background: var(--six-border);
}

.p-9 {
  background: var(--nine-border);
}

.p-10 {
  background: var(--ten-border);
}

.pp-1 {
  background: var(--one-bg);
}

.pp-2 {
  background: var(--two-bg);
}

.pp-3 {
  background: var(--three-bg);
}

.pp-4 {
  background: var(--four-bg);
}

.pp-5 {
  background: var(--five-bg);
}

.pp-6 {
  background: var(--six-bg);
}

.pp-7 {
  background: var(--seven-bg);
}

.pp-8 {
  background: var(--eight-bg);
}

.pp-9 {
  background: var(--nine-bg);
}

.pp-10 {
  background: var(--ten-bg);
}

//comments start

.comments {
  margin-top: 100px;

  &__create {
    background-color: var(--card-bg);
    padding: 50px 60px;
    border-radius: 10px;

    &__header {
      text-align: left;
      display: flex;
      gap: 25px;
      align-items: center;
      margin-bottom: 30px;

      &__title {
        margin: 0;
        margin-bottom: 7px;
      }

      &__link {
        font-size: 18px;
        color: var(--text);
        text-decoration: none;
        font-family: 'Qanelas Light';
        margin: 0;
      }

      &__image {
        border-radius: 50%;
      }
    }

    &__flex {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
}

//comments end
