.rate {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
  color: var(--text);
  font-family: 'Qanelas Bold';
}

.p-1 {
  background: var(--one-border);
}

.p-2 {
  background: var(--two-border);
}

.p-3 {
  background: var(--three-border);
}

.p-4 {
  background: var(--four-border);
}

.p-5 {
  background: var(--five-border);
}

.p-6 {
  background: var(--six-border);
}

.p-7 {
  background: var(--six-border);
}

.p-8 {
  background: var(--six-border);
}

.p-9 {
  background: var(--nine-border);
}

.p-10 {
  background: var(--ten-border);
}

.pp-1 {
  background: var(--one-bg);
}

.pp-2 {
  background: var(--two-bg);
}

.pp-3 {
  background: var(--three-bg);
}

.pp-4 {
  background: var(--four-bg);
}

.pp-5 {
  background: var(--five-bg);
}

.pp-6 {
  background: var(--six-bg);
}

.pp-7 {
  background: var(--seven-bg);
}

.pp-8 {
  background: var(--eight-bg);
}

.pp-9 {
  background: var(--nine-bg);
}

.pp-10 {
  background: var(--ten-bg);
}
