.title {
  margin-bottom: 34px;
}

.root {
  max-width: 815px;
  width: 100%;
  margin-bottom: 45px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 14px;

  .flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 14px;
  }
}
