.root {
  color: var(--red);
  font-family: 'Qanelas Light';
  margin-bottom: 14px;
  max-width: 300px;
  line-height: 16px;
  font-size: 16px;
  margin: 10px;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  position: absolute;
  left: 20px;
  bottom: 50px;
  background-color: var(--error-bg);
}
