.root {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid var(--border);
  background-color: var(--all-bg);
  text-align: center;
  vertical-align: center;
  padding-top: 1.5px;
}
