.form {
  max-width: 1300px;
  width: 100%;
}

.root {
  height: auto;
  background: var(--card-bg);
  // padding: 34px 54px;
  border-radius: 10px;
  margin-bottom: 100px;

  h1 {
    font-family: 'Qanelas ExtraBold';
    font-size: 30px;
    font-style: normal;
    line-height: normal;
  }
  input {
    max-width: 260px;
    width: 100%;
    height: 54px;
    border-radius: 10px;
  }
  input {
    color: var(--text);
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.button {
  max-width: 148px;
  width: 100%;
  height: 52px;
  border-radius: 10px;
}

.image {
  border-radius: 10px;
}

.links {
  margin-top: 20px;
  input {
    max-width: 477px;
    width: 100%;
  }
}

.uploadImage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 17px;
}

.inputs {
  max-width: 540px;
  width: 100%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.genges {
  margin-top: 20px;
  grid-area: 4 / 1 / 5 / 3;
  input {
    max-width: 540px;
    width: 100%;
  }
}
