.trailer {
  &__video {
    margin-top: 80px;
    margin-bottom: 30px;
    width: 1360px;
    height: 765px;
    border-radius: 10px;
  }

  .name {
    font-family: 'Qanelas ExtraBold';
    font-size: 45px;
    text-align: left;
    margin: 0;
  }
}
